<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UB Findin' a Room</title>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<h1>UB Findin' a Room</h1>

<a href="{% url 'index' %}">Home</a>
<a href="{% url 'debug' %}">Debug</a>
<a href="{% url 'regenerate' %}">Regenerate data</a>

<br>
<br>

<form action="/" method="post">
    {% csrf_token %}
    {{ data.form }}
    <input type="submit" value="Submit">
</form>

{% if data.results %}
{{ data.results }}
{% endif %}


</body>
</html>