<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Info</title>
</head>
<body>
<h1>Room Info for {{ data.room }}</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Room data</th>
        <th>Abbr</th>
        <th>Num</th>
        <th>Reg</th>
        <th>Start</th>
        <th>End</th>
        <th>Ses start</th>
        <th>Ses end</th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tues</th>
        <th>Wed</th>
        <th>Thurs</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
    {% for course in data.courses %}
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.room }}</td>
            <td>{{ course.abbr }}</td>
            <td>{{ course.number }}</td>
            <td>{{ course.reg_number }}</td>
            <td>{{ course.start_time }}</td>
            <td>{{ course.end_time }}</td>
            <td>{{ course.session_start }}</td>
            <td>{{ course.session_end }}</td>
            <td>{{ course.is_sunday }}</td>
            <td>{{ course.is_monday }}</td>
            <td>{{ course.is_tuesday }}</td>
            <td>{{ course.is_wednesday }}</td>
            <td>{{ course.is_thursday }}</td>
            <td>{{ course.is_friday }}</td>
            <td>{{ course.is_saturday }}</td>
        </tr>
    {% endfor %}
</table>
<p>Return to the <a href="{% url 'index' %}">homepage</a>.</p>
</body>
</html>